.git
.gitignore
.gradle
.idea
build
gradle
local.properties
*.iml
*.DS_Store
**/.gradle
**/.idea
**/build
**/gradle
**/local.properties
**/captures/
**/outputs/
**/generated/
**/docs/
**/reports/
**/app/build/
**/app/outputs/
**/app/docs/
**/app/reports/
**/app/.gradle/