<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teamnovapersonalprojectprojectingkotlin">

    <queries>
        <!-- Google Play Services 패키지와의 상호작용을 명시 -->
        <package android:name="com.google.android.gms" />
        <!-- 필요하다면, 추가적으로 다른 패키지도 명시 가능 -->
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamnovaPersonalProjectProjectingKotlin"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TeamnovaPersonalProjectProjectingKotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <!-- Required: set your sentry.io project identifier (DSN) -->
        <meta-data android:name="io.sentry.dsn" android:value="https://0a3d0d1fe57deb2e7baebd1f244a04de@o4509194335223808.ingest.us.sentry.io/4509194511974400" />

        <!-- Add data like request headers, user ip address and device name -->
        <meta-data android:name="io.sentry.send-default-pii" android:value="true" />
        
        <!-- Temporarily disabled for testing -->
        <!-- <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" /> -->
        
        <!-- Temporarily disabled for testing -->
        <!-- <meta-data android:name="io.sentry.attach-screenshot" android:value="true" /> -->
        
        <!-- Temporarily disabled for testing -->
        <!-- <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" /> -->
        
        <!-- Temporarily disabled for testing -->
        <!-- <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" /> -->
        
        <!-- Breadcrumb 설정 -->
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="true" />
        <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="true" />
        <meta-data android:name="io.sentry.breadcrumbs.system-events" android:value="true" />
        
        <!-- Temporarily disabled for testing -->
        <!-- Profiling 설정 (UI Profiling 방식) -->
        <!-- <meta-data android:name="io.sentry.traces.profiling.session-sample-rate" android:value="1.0" /> -->
        <!-- <meta-data android:name="io.sentry.traces.profiling.lifecycle" android:value="trace" /> -->
        <!-- <meta-data android:name="io.sentry.traces.profiling.start-on-app-start" android:value="true" /> -->
        
        <!-- Temporarily disabled for testing -->
        <!-- Session Replay 설정 (기본) -->
        <!-- <meta-data android:name="io.sentry.session-replay.session-sample-rate" android:value="0.1" /> -->
        <!-- <meta-data android:name="io.sentry.session-replay.on-error-sample-rate" android:value="1.0" /> -->
        
        <!-- ANR 감지 설정 -->
        <meta-data android:name="io.sentry.anr.enable" android:value="true" />
        <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="5000" />
        
        <!-- Temporarily disabled for testing -->
        <!-- 네트워크 모니터링 설정 -->
        <!-- <meta-data android:name="io.sentry.okhttp.enable" android:value="true" /> -->
    </application>

</manifest>